# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

.vscode
public/audio_files/podcast*
public/image_files/*

# Sample
!public/audio_files/podcast_with_bgm_20240707010920.mp3
!public/image_files/blog_image_20240705012953.png
!public/image_files/thumbnail_20240705013226.png