<div class="relative space-y-8 py-3 px-3">
    <div>
      <a
        class="text-xl font-semibold text-gray-700 dark:text-blue-400 transition hover:text-green-500 flex items-center gap-1 relative group"
        href="/Blog"
      >
        <span>Click to Read the Blog</span>
        <span class="transition transform group-hover:translate-x-1 group-hover:ml-2">-&gt;</span>
      </a>
    </div>
  </div>
  