<div class="card-body p-4">
  <div class="row">
    <div class="col-sm-3">
      <h6 class="mb-0">Full Name</h6>
    </div>
    <div class="col-sm-9 text-gray-500">Safnas Kaldeen</div>
  </div>
  <hr class="my-2" />
  <div class="row">
    <div class="col-sm-3">
      <h6 class="mb-0">Email</h6>
    </div>
    <div class="col-sm-9 text-gray-500">
      <a href="/cdn-cgi/l/email-protection" class="__cf_email__ text-blue-500"
        >[email&#160;protected]</a
      >
    </div>
  </div>
  <hr class="my-2" />
  <div class="row">
    <div class="col-sm-3">
      <h6 class="mb-0">Language</h6>
    </div>
    <div class="col-sm-9 text-gray-500">English</div>
  </div>
  <hr class="my-2" />
  <div class="row">
    <div class="col-sm-3">
      <h6 class="mb-0">Gender</h6>
    </div>
    <div class="col-sm-9 text-gray-500">Male</div>
  </div>
  <hr class="my-2" />
  <div class="row">
    <div class="col-sm-3">
      <h6 class="mb-0">Country</h6>
    </div>
    <div class="col-sm-9 text-gray-500">Sri Lanka</div>
  </div>
  <hr class="my-2" />
  <div class="row">
    <div class="col-sm-3">
      <h6 class="mb-0">Bot Name</h6>
    </div>
    <div class="col-sm-9 text-gray-500">Alexa</div>
  </div>
  <button
    class="btn btn-primary bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 m-4"
    >Edit</button
  >
</div>
