---
const links = [
  { name: "Home", href: "/" },
];
---

<style>
    .navbar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: bg-transparent;
      backdrop-filter: blur(10px);
      z-index: 1000;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
    }
    .navbar a {
      padding: 0.5rem 1rem;
      text-decoration: none;
      color: white;
      /* font-weight: bold; */
    }
    .navbar a:hover {
      color: #CCF241;
    }
  </style>

  <nav class="navbar">
    <div class="text-lg font-bold">
      <a href="/">QuickPOD</a>
    </div>
    <div>
      <!-- <a href="#hero">Home</a> -->
      <a href="#features">Features</a>
      <a href="#stats">Stats</a>
      <a href="#testimonials">Testimonials</a>
      <a href="#contact">Contact</a>
    </div>
  </nav>